<head>
  <title>Ping Pong!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
  <h1>Welcome to Ping Pong Game</h1>
  <form action="/result" method="post">
    <label for="new-game">Input your number:</label>
    <input id="new-game" name="new-game" type="text">
    <button type="submit">Submit</button>
  </form>
</body>
