<head>
  <title>Ping Pong!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
  <h1>Your result</h1>
  <ul>
    @foreach (string item in Model)
     {
      <li>@item</li>
     }
  </ul>
</body>
